package {{ .DomainLowerCase }}

import (
	"github.com/go-chi/chi/v5"
	"github.com/go-playground/validator/v10"

	"{{ .ModuleName }}/internal/domain/{{ .DomainLowerCase }}"
	"{{ .ModuleName }}/internal/middleware"
)

func RegisterHTTPEndPoints(router *chi.Mux, validator *validator.Validate, uc {{ .DomainLowerCase }}.UseCase) {
	h := NewHandler(validator, uc)

	router.Route("/api/v1/{{ .DomainLowerCase }}", func(router chi.Router) {
		router.Use(middleware.Json)
		router.Post("/", h.Create)
		router.Get("/", h.List)
		router.Get("/{id}", h.Read)
		router.Put("/{id}", h.Update)
		router.Delete("/{id}", h.Delete)
	})
}
