package usecase

import "{{ .ModuleName }}/internal/domain/health/repository/database"

type UseCase interface {
	Readiness() error
}

type Health struct {
	healthRepo database.Repository
}

func New(health database.Repository) *Health {
	return &Health{
		healthRepo: health,
	}
}

func (u *Health) Readiness() error {
	return u.healthRepo.Readiness()
}
