package param

import (
	"net/http"
	"strconv"

	"github.com/go-chi/chi/v5"

	"{{ .ModuleName }}/internal/utility/respond"
)

func uint(w http.ResponseWriter, r *http.Request, param string) uint {
	val, err := strconv.ParseInt(chi.URLParam(r, param), 10, 64)
	if err != nil {
		respond.Error(w, http.StatusBadRequest, err)
	}

	return uint(val)
}

func int(w http.ResponseWriter, r *http.Request, param string) int {
	val, err := strconv.ParseInt(chi.URLParam(r, param), 10, 64)
	if err != nil {
		respond.Error(w, http.StatusBadRequest, err)
	}

	return val
}

func String(r *http.Request, param string) string {
	return chi.URLParam(r, param)
}
