package {{ .DomainLowerCase }}

import (
	"net/url"

	"{{ .ModuleName }}/internal/utility/filter"
)

type Filter struct {
	Base          filter.Filter
	// Add your: {{ "{{ field_name }}" }}          string `json:"field_name"`
}

func Filters(queries url.Values) *Filter {
	f := filter.New(queries)

	// set search to be true if this query parameter exists
    if queries.Has("field_name") {
        f.Search = true
    }
	return &Filter{
		Base:          *f,
		// FieldName:         queries.Get("field_name"),
	}
}
