package database

import (
	"context"

	"github.com/jmoiron/sqlx"

	"{{ .ModuleName }}/internal/domain/{{ .DomainLowerCase }}"
)

type Repository interface {
	Create(ctx context.Context, {{ .Domain }} *{{ .DomainLowerCase }}.{{ .Domain }}) (uint, error)
	CreateRead(ctx context.Context, {{ .Domain }} *{{ .DomainLowerCase }}.{{ .Domain }}) (*models.{{ .Domain }}, error)
	List(ctx context.Context, f *{{ .DomainLowerCase }}.Filter) ([]*{{ .DomainLowerCase }}.{{ .Domain }}, error)
	Read(ctx context.Context, {{ .DomainLowerCase }}ID uint) (*{{ .DomainLowerCase }}.{{ .Domain }}, error)
	Update(ctx context.Context, {{ .DomainLowerCase }} *models.{{ .Domain }}) error
	Delete(ctx context.Context, {{ .DomainLowerCase }}ID uint) error
}

type repository struct {
	db *sqlx.DB
}

func New(db *sqlx.DB) *repository {
	return &repository{db: db}
}

func (r *repository) Create(ctx context.Context, {{ .DomainLowerCase }} *{{ .DomainLowerCase }}.{{ .Domain }})(uint, error) {
    panic("implement me")
}

func (r *repository) CreateRead(ctx context.Context, {{ .Domain }} *{{ .DomainLowerCase }}.{{ .Domain }}) (*{{ .DomainLowerCase }}.{{ .Domain }}, error) {
	panic("implement me")
}

func (r *repository) List(ctx context.Context, f *{{ .DomainLowerCase }}.Filter) ([]*{{ .DomainLowerCase }}.{{ .Domain }}, error) {
	panic("implement me")
}

func (r *repository) Read(ctx context.Context, {{ .DomainLowerCase }}ID uint) (*{{ .DomainLowerCase }}.{{ .Domain }}}, error) {
	panic("implement me")
}

func (r *repository) Update(ctx context.Context, {{ .DomainLowerCase }} *{{ .DomainLowerCase }}.{{ .Domain }}) error {
	panic("implement me")
}

func (r *repository) Delete(ctx context.Context, {{ .DomainLowerCase }}ID uint) error {
	panic("implement me")
}
