package database

import (
	"fmt"
	"log"
	"net"
	"os"
	"runtime"
	"testing"

	_ "github.com/jackc/pgx/stdlib"
	_ "github.com/joho/godotenv/autoload"
    "{{ .ModuleName }}/cmd/migrate/migrate"

    "{{ .ModuleName }}/internal/domain/health/repository/database"
)

//go:generate mockgen -package mock -source ../../repository.go -destination=../../mock/mock_repository.go

var (
	repo database.Repository
)

const uniqueDBName = "postgres_test"

func TestMain(m *testing.M) {

}

func Test{{ .Domain }}Repository_Create(t *testing.T) {
	migrate.Start()

	migrate.Down()
}

func TestRepository_Find(t *testing.T) {
	migrate.Start()

	migrate.Down()
}

func TestRepository_List(t *testing.T) {
	migrate.Start()

	migrate.Down()
}

func TestRepository_Update(t *testing.T) {
	migrate.Start()

	migrate.Down()
}

func TestRepository_Delete(t *testing.T) {
	migrate.Start()

	migrate.Down()
}

func TestRepository_Search(t *testing.T) {
	migrate.Start()

	migrate.Down()
}
