package http

import (
	"net/http"

	"github.com/go-playground/validator/v10"
)

type HTTP interface {
	Placeholder(w http.ResponseWriter, r *http.Request)
}

type Handler struct {
	validate *validator.Validate
}

func NewHandler() *Handler {
	return &Handler{
		validate: validator.New(),
	}
}

func (h *Handler) Placeholder(w http.ResponseWriter, r *http.Request) {
	panic("implement me")
}
