package http

import (
	"github.com/go-chi/chi"

	"{{ .ModuleName }}/internal/middleware"
)

func RegisterHTTPEndPoints(router *chi.Mux) {
	h := NewHandler()

	router.Route("/api/v1/placeholder", func(router chi.Router) {
		router.Use(middleware.Json)
		router.Get("/", h.Placeholder)
	})
}
