package {{ .DomainLowerCase }}

import (
	"context"

	"{{ .ModuleName }}/internal/model"
)

type UseCase interface {
	Create(ctx context.Context, {{ .Domain }} Request) (*models.{{ .Domain }}, error)
	All(ctx context.Context) ([]*models.{{ .Domain }}, error)
	Find(ctx context.Context, {{ .Domain }}ID int64) (*models.{{ .Domain }}, error)
	Update(ctx context.Context, {{ .Domain }} *models.{{ .Domain }}) (*models.{{ .Domain }}, error)
	Delete(ctx context.Context, {{ .Domain }}ID int64) error
	Search(ctx context.Context, req *Request) ([]*models.{{ .Domain }}, error)
}