package main

import (
	"log"

	"{{ .ModuleName }}/internal/server"
)

const Version = "v0.1.0"

// @title Go8
// @version 0.1.0
// @description Go + Postgres, Mysql + Chi Router + sqlx + Unit Testing starter kit for API development.

// @contact.name <name>
// @contact.url <url>
// @contact.email <email>

// @host {{ .Host }}:{{ .Port }}
// @BasePath /
func main() {
	s := server.New(Version)
	s.Init()

	if err := s.Run(); err != nil {
		log.Fatalf("%s", err.Error())
	}
}
