package main

import (
	"log"

	"{{ .ModuleName }}/internal/server"
)

// Version is injected using ldflags during build time
var Version = "v0.1.0"

// @title Go8
// @version 0.1.0
// @description Go + Postgres, Mysql + Chi Router + sqlx + Unit Testing starter kit for API development.
// @contact.name <name>
// @contact.url <url>
// @contact.email <email>
// @host {{ .Host }}:{{ .Port }}
// @BasePath /
func main() {
	log.Printf("Starting API version: %s\n", Version)
	s := server.New()
	s.Init(Version)
	s.Run()
}
