output   = "internal/models"
wipe     = true
no-tests = true
debug    = false

[psql]
host   = "{{ .Host }}"
port   = {{ .Port }}
dbname = "{{ .DBName }}"
user   = "{{ .Username }}"
pass   = "{{ .Password }}"
sslmode = "disable"
schema = "public"
blacklist = ["migrations", "schema_migrations"]
