package usecase

import (
	"testing"
)

//go:generate mockgen -package mock -source usecase.go -destination=../mock/mock_usecase.go


func Test{{ .Domain }}UseCase_Create(t *testing.T) {

}

func Test{{ .Domain }}UseCase_List(t *testing.T) {

}

func Test{{ .Domain }}UseCase_Read(t *testing.T) {

}

func Test{{ .Domain }}UseCase_Update(t *testing.T) {

}

func Test{{ .Domain }}UseCase_Delete(t *testing.T) {

}