package usecase

import (
	"testing"
)

func Test{{ .Domain }}UseCase_Create(t *testing.T) {

}

func Test{{ .Domain }}UseCase_List(t *testing.T) {

}

func Test{{ .Domain }}UseCase_Read(t *testing.T) {

}

func Test{{ .Domain }}UseCase_Update(t *testing.T) {

}

func Test{{ .Domain }}UseCase_Delete(t *testing.T) {

}