package server

import (
	"net/http"

	"github.com/go-chi/chi/v5"

    healthHandler "{{ .ModuleName }}/internal/domain/health/handler/http"
    healthRepo "{{ .ModuleName }}/internal/domain/health/database"
    healthUseCase "{{ .ModuleName }}/internal/domain/health/usecase"
    "{{ .ModuleName }}/internal/middleware"
    "{{ .ModuleName }}/internal/utility/respond"
)

func (s *Server) InitDomains() {
	s.initVersion()
    s.initSwagger()
    s.initHealth()
}

func (s *Server) initVersion() {
	s.router.Route("/version", func(router chi.Router) {
		router.Use(middleware.Json)

		router.Get("/", func(w http.ResponseWriter, r *http.Request) {
			respond.Json(w, http.StatusOK, map[string]string{"version": s.version})
		})
	})
}

func (s *Server) initSwagger() {
	if s.Config().Api.RunSwagger {
		fileServer := http.FileServer(http.Dir(swaggerDocsAssetPath))
		s.router.HandleFunc("/swagger", func(w http.ResponseWriter, r *http.Request) {
			http.Redirect(w, r, "/swagger/", http.StatusMovedPermanently)
		})
		s.router.Handle("/swagger/", http.StripPrefix("/swagger", middleware.Html(fileServer)))
		s.router.Handle("/swagger/*", http.StripPrefix("/swagger", middleware.Html(fileServer)))
	}
}

func (s *Server) initHealth() {
    newHealthRepo := healthRepo.New(s.DB())
    newHealthUseCase := healthUseCase.New(newHealthRepo)
    healthHandler.RegisterHTTPEndPoints(s.router, s.validator, newHealthUseCase)
}
